USE [master]
GO
/****** Object:  Database [FDMS_AWS]    Script Date: 7/8/2025 12:44:15 PM ******/
CREATE DATABASE [FDMS_AWS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FDMS_AWS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DEV2008R2EDITION\MSSQL\DATA\FDMS_AWS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FDMS_AWS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DEV2008R2EDITION\MSSQL\DATA\FDMS_AWS_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FDMS_AWS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FDMS_AWS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[Document_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Document_Type] [nvarchar](500) NOT NULL,
	[Remarks] [nvarchar](500) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table2]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpRefID] [uniqueidentifier] NULL,
	[EmpId] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DomainID] [nvarchar](100) NOT NULL,
	[Center] [nvarchar](max) NULL,
	[Geography] [nvarchar](max) NULL,
	[EmailId] [nvarchar](200) NOT NULL,
	[DOB] [datetime] NULL,
	[DOJ] [date] NULL,
	[Designation] [nvarchar](max) NULL,
	[Costcode] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table3]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table3](
	[Document_Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [int] NOT NULL,
	[Document_Type] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL,
	[Document_Upload_Name] [nvarchar](500) NOT NULL,
	[UploadedDocType] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AWS_FDMS_DoctIDWiseDocumentUploaded]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AWS_FDMS_DoctIDWiseDocumentUploaded](
	[Sno] [int] IDENTITY(1,1) NOT NULL,
	[Document_Id] [nvarchar](max) NULL,
	[Document_Type] [int] NOT NULL,
	[Document_Name] [nvarchar](max) NULL,
	[Document_foldername] [nvarchar](max) NULL,
	[AWSUploadedDocPath] [nvarchar](max) NULL,
	[IsArchive] [bit] NOT NULL,
	[Password_Protected] [bit] NOT NULL,
	[Document_Password] [nvarchar](max) NULL,
	[Document_Extn] [int] NOT NULL,
	[DocumentEffectiveDate] [datetime] NULL,
	[Documents_Extention] [nvarchar](max) NULL,
	[UploadedDocDate] [datetime] NULL,
	[Uploaded_Type] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_AWS_FDMS_DoctIDWiseDocumentUploaded] PRIMARY KEY CLUSTERED 
(
	[Sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AWS_FDMS_UploadedDoctIDCreatedEmployeeWise]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AWS_FDMS_UploadedDoctIDCreatedEmployeeWise](
	[Sno] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [int] NOT NULL,
	[Document_Id] [uniqueidentifier] NOT NULL,
	[Region] [int] NOT NULL,
	[StopRemainderMail] [int] NOT NULL,
	[IsMailTriggered] [int] NOT NULL,
	[Employee_status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_AWS_FDMS_UploadedDoctIDCreatedEmployeeWise] PRIMARY KEY CLUSTERED 
(
	[Sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FDMS_DocumentTypeMaster]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FDMS_DocumentTypeMaster](
	[Document_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Document_Type] [nvarchar](500) NOT NULL,
	[Remarks] [nvarchar](500) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_FDMS_DocumentTypeMaster] PRIMARY KEY CLUSTERED 
(
	[Document_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FDMS_UploadedDocumentDetails]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FDMS_UploadedDocumentDetails](
	[Document_Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [int] NOT NULL,
	[Document_Type] [int] NOT NULL,
	[Document_Upload_Name] [nvarchar](500) NOT NULL,
	[UploadedDocType] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_FDMS_UploadedDocumentDetails] PRIMARY KEY CLUSTERED 
(
	[Document_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeMaster]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpRefID] [uniqueidentifier] NULL,
	[EmpId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DomainID] [nvarchar](100) NOT NULL,
	[Center] [nvarchar](max) NULL,
	[Geography] [nvarchar](max) NULL,
	[EmailId] [nvarchar](200) NOT NULL,
	[DOB] [datetime] NULL,
	[DOJ] [date] NULL,
	[Designation] [nvarchar](max) NULL,
	[Costcode] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tblEmployeeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoleMaster]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoleMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleRefID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[RoleDescription] [nvarchar](500) NOT NULL,
	[RoleImageClass] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastEditedBy] [nvarchar](max) NULL,
	[LastEditedDate] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tblRoleMaster] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table1] ON 

INSERT [dbo].[Table1] ([Document_Type_Id], [Document_Type], [Remarks], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus]) VALUES (1, N'EmployeeProfile_OfferLetter', N'offer of employment', NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Table1] ([Document_Type_Id], [Document_Type], [Remarks], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus]) VALUES (2, N'EmployeeProfile_CancelledChequeIfAny', N'ICICI Bank', NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Table1] ([Document_Type_Id], [Document_Type], [Remarks], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus]) VALUES (3, N'EmployeeProfile_Page1and2', N'Physiological Information', NULL, NULL, NULL, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Table1] OFF
GO
SET IDENTITY_INSERT [dbo].[Table2] ON 

INSERT [dbo].[Table2] ([Id], [EmpRefID], [EmpId], [Name], [DomainID], [Center], [Geography], [EmailId], [DOB], [DOJ], [Designation], [Costcode], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus]) VALUES (1, N'c6fb159e-1218-4c53-a1a6-905f1c59c9f0', N'1057558', N'mamatamayee dash', N'mamatamayeed', NULL, NULL, N'mamatamayee.dash@firstsource.com', NULL, NULL, NULL, NULL, N'1091950', CAST(N'2024-03-04T17:47:53.683' AS DateTime), NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Table2] OFF
GO
SET IDENTITY_INSERT [dbo].[Table3] ON 

INSERT [dbo].[Table3] ([Document_Id], [Employee_Id], [Document_Type], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus], [Document_Upload_Name], [UploadedDocType]) VALUES (1, 1057558, 112, N'1057558', CAST(N'2025-03-14T13:05:53.480' AS DateTime), NULL, NULL, NULL, NULL, 0, N'10 TH MARKSHEET.pdf', N'Single')
INSERT [dbo].[Table3] ([Document_Id], [Employee_Id], [Document_Type], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus], [Document_Upload_Name], [UploadedDocType]) VALUES (2, 1057558, 0, N'1057558', CAST(N'2025-03-14T13:06:19.230' AS DateTime), NULL, NULL, NULL, NULL, 0, N'10 TH MARKSHEET.pdf', N'Multi')
INSERT [dbo].[Table3] ([Document_Id], [Employee_Id], [Document_Type], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus], [Document_Upload_Name], [UploadedDocType]) VALUES (3, 1057558, 0, N'1057558', CAST(N'2025-03-14T13:06:19.257' AS DateTime), NULL, NULL, NULL, NULL, 0, N'02309 SEDURAMAN SESHASALAM PHOTO.jpeg', N'Multi')
SET IDENTITY_INSERT [dbo].[Table3] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmployeeMaster] ON 

INSERT [dbo].[tblEmployeeMaster] ([Id], [EmpRefID], [EmpId], [Name], [DomainID], [Center], [Geography], [EmailId], [DOB], [DOJ], [Designation], [Costcode], [RoleId], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus]) VALUES (53, N'c6fb159e-1218-4c53-a1a6-905f1c59c9f0', 1057558, N'mamatamayee dash', N'mamatamayeed', NULL, NULL, N'mamatamayee.dash@firstsource.com', NULL, NULL, NULL, NULL, 1091950, N'2024-03-04 17:47:53.683', NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[tblEmployeeMaster] ([Id], [EmpRefID], [EmpId], [Name], [DomainID], [Center], [Geography], [EmailId], [DOB], [DOJ], [Designation], [Costcode], [RoleId], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus]) VALUES (56, NULL, 1006905, N'Stephen Hamilton', N'stephenham', NULL, NULL, N'Stephen.hamilton@firstsource.com', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[tblEmployeeMaster] ([Id], [EmpRefID], [EmpId], [Name], [DomainID], [Center], [Geography], [EmailId], [DOB], [DOJ], [Designation], [Costcode], [RoleId], [CreatedBy], [CreatedDate], [LastEditedBy], [LastEditedDate], [DeletedBy], [DeletedDate], [DeletedStatus]) VALUES (57, NULL, 680427, N'Imtiaz Ahmed', N'imtiazahmed', NULL, NULL, N'imtiaz.ahmed@firstsource.com', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tblEmployeeMaster] OFF
GO
ALTER TABLE [dbo].[tblEmployeeMaster] ADD  CONSTRAINT [DF_tblEmployeeMaster_DeletedStatus]  DEFAULT ((0)) FOR [DeletedStatus]
GO
/****** Object:  StoredProcedure [dbo].[SP_FDMS_GetEmpDetailsByID]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_FDMS_GetEmpDetailsByID]
@EmpID varchar(100)
as
begin
   select * from tblEmployeeMaster with(nolock) where EmpId=@EmpID
end



GO
/****** Object:  StoredProcedure [dbo].[SP_FDMS_UpdateDocumentStatus]    Script Date: 7/8/2025 12:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FDMS_UpdateDocumentStatus] -- 10  
@Sno int    
as    
begin    
    
declare @DocumentID varchar(max)    
    
--set @DocumentID=(select Document_Id from tbl_AWS_FDMS_UploadedDoctIDCreatedEmployeeWise with(nolock) where Sno=10 and DeletedStatus=0)    
--  print(@DocumentID)  
    
--update tbl_AWS_FDMS_UploadedDoctIDCreatedEmployeeWise set DeletedStatus=1 where Sno=@Sno     
    
    
    
update tbl_AWS_FDMS_DoctIDWiseDocumentUploaded set DeletedStatus=1 where Sno=@Sno --Document_Id=@DocumentID    
    
end
GO
USE [master]
GO
